<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<div class="container" th:fragment="navbarFragment">
  <link href="../../css/headers.css" rel="stylesheet">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between pb-2 pt-2 mb-2 border-bottom">
    <div class="d-flex col-md-3">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img class="d-block mx-auto" src="../../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      </a>
    </div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link px-2">Home</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <a href="/auth/login" class="btn btn-outline-primary me-2" th:unless="${session.usuario}">Login</a>
      <a href="/auth/logout" class="btn btn-outline-primary me-2" th:if="${session.usuario}">Log Out</a>
      <!--        <button type="button" class="btn btn-outline-primary me-2">Login</button>-->
      <!--        <button type="button" class="btn btn-primary">Sign-up</button>-->
    </div>
  </header>
</div>
</html>